<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ma chienne Idea</title>
</head>

<body id="about">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>
    <main>
        <h1>Qui est Idea ?</h1>
    </main>
    <section class="texteAbout">
        <p>
            Idea, est une petite chienne que j'ai eu pour mes quarante ans en juillet 2013 ! Elle m'a accompagné dans le
            deuil de ma mère. Comme toute personne qui aiment les animaux, je peux dire qu'elle me donne de la joie de
            l'amour, de la peur. Nous partageons beaucoup de choses ensemble. Elle est joueuse, tendre et parfois un peu
            folle. Comme disait ma mère, : il lui manque uniquement la parole.Regarder ses photos ! Vous verrez, vous
            allez, peut-être en acheter ou en adopter un.
        </p>

    </section>

</body>

</html>