<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ma chienne Idea</title>
</head>

<body id="gallery">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>
    <main class="photos">
        <h1>photos Idea</h1>
        <img src="public\images\DSC_0013.JPG" alt="">;
        <img src="public\images\DSC_0120.JPG" alt="">;
        <img src="public\images\DSC_0177.JPG" alt="">;
        <img src="public\images\DSC_0352.JPG" alt="">;
        <img src="public\images\EFFECTS.JPG" alt="">;

    </main>

</body>

</html>