<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ma chienne Idea</title>
</head>

<body id="home">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>
    <main>
        <h1>Le Cavalier king Charle</h1>
    </main>
    <secttion class="texteHome">
        <p>
            Le Cavalier King Charles Spaniel, ce chien de petite taille, adorable et calme, fera sûrement le bonheur des
            maîtres recherchant un chien de compagnie. Cette race de chien aura besoin d’une dépense journalière pour se
            sentir bien. Par ailleurs, son caractère tempéré nécessitera une éducation douce qui devra commencer tôt
            afin de partir sur de bonnes bases !

        </p>
    </secttion>
</body>

</html>