<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ma chienne Idea</title>
</head>

<body id="work">
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/gallery">Gallery</a>
        </div>
    </header>
    <main>
        <h1>Fiche du CKC</h1>
    </main>

    <section class="texteWork">

        <p>
            Le Cavalier King Charles Spaniel vient d’Angleterre, cette race serait apparue au 16ème siècle. De plus,
            c’est sous le règne de Charles II d’Angleterre que le Cavalier King Charles Spaniel a acquit son statut de
            chien noble et réputé. Pour l’anecdote, cette race de chien particulièrement appréciée par la noblesse
            Anglaise, était même recommandée en traitement par les médecins afin d’aider les Dames à se réchauffer.
            Elles plaçaient alors leurs chiens sur leurs genoux lors de leurs voyages notamment.

            Le Cavalier King Charles Spaniel est un chien de compagnie, cela signifie que son énergie ne sera pas celle
            d’un Malinois ou encore d’un Jack Russel. Cependant, même si le Cavalier King Charles Spaniel n’est pas la
            définition même du chien travail, cela ne signifie pas pour autant qu’il ne faille jamais le promener ! En
            effet, ce chien aura besoin d’une balade journalière, même s’il possède un jardin. Cela lui permettra de
            sentir toutes les odeurs extérieures et de passer un bon moment avec son maître
        </p>
    </section>



</body>

</html>